.profile {
    background-color: #ffffff !important;
    padding: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #7c33a2 !important;
}

.nav-fill li a {
    color: #7c33a2;
    text-decoration: none;
    background-color: transparent;
}

.nav-pills .nav-item a:hover {
    color: #E040FB;
}

.tab-content {
    margin: 20px;
}

.card-footer i {
    color: red;
    font-size: 25px;
}

.profile-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}