.form-signin {
    max-width: 50%;
    margin: auto;
}

.form-add {
    margin: auto 20px;
    padding: 20px;
    background-color: #fff;
}

@media (min-width: 576px) {
    .jumbotron {
        margin-top: 2rem;
        padding: 2rem 2rem;
    }
}