@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');

.navbar {
    background: #7B1FA2;
    box-shadow: 0 11px 12px -8px rgba(0, 0, 0, 0.34);
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    color: #FFFFFF;
}

.fixed-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.breadcrumb {
    background-color: #fff;
}

.btn-button {
    color: #fff;
    background-color: #9C27B0;
    border-color: #7B1FA2;
}

.btn-button.disabled, .btn-button:disabled {
    color: #fff;
    background-color: #9C27B0;
    border-color: #7B1FA2;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(233, 30, 99, 0.3);
}

.dropdown-menu {
    background-color: #7B1FA2 !important;
}

.dropdown-item {
    background-color: #7B1FA2 !important;
}